<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--<servlet>
        <servlet-name>addservlet</servlet-name>
        <servlet-class>com.learning.Servlet_JspTelusko.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addservlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>-->

<!--&lt;!&ndash;    Also learning how to comment on .xml file, below is for testing Request Dispatcher sending request from one servlet to another&ndash;&gt;
    <servlet>
        <servlet-name>sqservlet</servlet-name>
        <servlet-class>com.learning.Servlet_JspTelusko.SqServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sqservlet</servlet-name>
        <url-pattern>/sq</url-pattern>
    </servlet-mapping>-->
    <context-param>
        <param-name>globalVariable</param-name>
        <param-value>canBeAccessFromAnyServlet</param-value>
    </context-param>
</web-app>